/* Globals */
/* f8dce0 ,faf0ef*/
html,
body {
  --main:#f8dce0;
  --secondary:#ffdce2; 
  --third:#faf0ef;
  --text : #504658;
  --hot: #ff66b6;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  height: 100%;
  background-color: var(--main);
  color: #000272;
}
body {
  color: var(--text);
  text-align: center;
}
p {
  margin-bottom: 0px;
}
h1 {
  font-size: 2rem;
}
.hide {
  display: none;
}
/* .landing-heading{font-family:'Source Code Pro',monospace;font-weight:400;} */
.ikonfess {
  color : var(--main);
}
.ikonfess-dark {
  color : #b3276f;

}
/* Buttons */
.btn {
  border-radius: 0px;
  padding: 0.5625rem 2.5rem;
  font-size: 1.5rem;
  line-height: 1.75rem;
  border-radius: 2 !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
}
.btn-primary {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  color: #212529;
}
.btn-primary:hover,
.btn-primary:focus{
  color: #212529;
  border: 1px solid #ff66b6 !important;
  background-color: #ff66b6 !important;
  transform: translateY(-1px) ;
  box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.2);
}
.btn-primary:active {
  color: #212529 !important;
  border: 1px solid #ff3fa2 !important;
  background-color: #ff3fa2 !important;
  transform: translateY(-1px) ;
  box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.2);
}

/* .btn-primary:hover,.btn-primary:focus,.btn-primary:active{color:#fff;border:1px solid #3700FF;background-color:#3700FF; transform: translateY(-1px); box-shadow: 0 3px 5px hsla(0, 0%, 0%, .2);} */

.navbar {
  background-color:  var(--main) !important;
  /* position: fixed; */
  /* top: 0; */
  /* width: 100%; */
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding : 0px;
  text-transform: uppercase;
}
.navbar-brand {
color: var(--text) !important;
}
.notification-dropdown::after {
  content: none;
}
.notification-wrapper.dropdown-menu {
  padding : 0px;
}
.notification-wrapper .dropdown-item {
  padding : 20px;
}
.noti-unread {
  background-color: #f8cbe3;
}
.dropdown-menu a {
  text-decoration: none;
}
.navbar-toggler {
  border : none;
}
/* Avatar */
.avatar {
  width: 100px;
  height: 100px;
}
.avatar-section {
  margin-bottom: 25px;
}

/* Scaffolding */
.site-wrapper {
  display: table;
  width: 100%;
  height: 90% !important;
  min-height: 90vh !important;
}
.site-wrapper-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 90%;
}
.panel-authed {
  padding: 0 0 0 0;
}

/* Home button */
.btn-home-hello {
  position: absolute;
  font-family: "Source Code Pro", monospace;
  font-size: 11px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
  top: 15px;
  left: 15px;
  padding: 3px 20px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

/* Input */
input,
textarea {
  color: #000;
}
input,
textarea {
  color: #000;
}

/*--------- new confession CONFESSION textarea--------- */

textarea {
  resize: none;
}
.form-control, .css-yk16xz-control, .css-1pahdxg-control,.css-1pahdxg-control:focus  {
  border-radius: 0px ;
  /* border: 1px solid #ff66b6 !important; */
  /* border-color: #ff66b6 !important; */
  border: none;
  /* border-bottom: 1px solid var(--secondary) !important; */
  outline: none !important;
  box-shadow: 0 0 10px var(--secondary) !important;
}
.css-yk16xz-control, .css-1pahdxg-control,.css-1pahdxg-control:focus  {
  border-radius: 0px !important;
}
.form-control:focus, .css-yk16xz-control:focus, .css-yk16xz-control:hover,.css-1pahdxg-control:focus, .css-1pahdxg-control:hover {
  outline: none !important;
  border: 1px solid var(--secondary);
  border-color: var(--secondary) !important;
  box-shadow: 0 0 10px var(--secondary) !important;
  /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}

/*---------  --------- */
#newconfession-textarea {
  border-radius: 10px;
}
#newconfession-textarea textarea {
  border-radius: 10px;
  padding: 5px;
  width: 100%;
}
.newconfession-butt{
  z-index: 1;
  right: 0;
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding : 10px;
}
#newconfession-wrapper {
  /* border-radius: 10px; */
  width: 50%;
  z-index: 1;
  top: 70px;
  right: 70px;
  position: absolute;
  /* background-color: rgba(255, 255, 255, 1); */
}
#add-confession-button {
  /* width: 100%; */
  /* width: 50px; */
  /* height: 50px; */
  /* border-radius: 50%; */
}
#newconfession-textarea{
  position: relative;
}
.newkonfession-buttons > button{
  background-color: var(--main);
  box-shadow:0 3px 5px hsla(0, 0%, 0%, .2) ;
}
.topic {
  position: absolute;
  bottom : 5px;
  border : 1px solid #ff66b6
}
/* react textarea auto complete */

.rta {
  position: relative;
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.rta__autocomplete  {
  position: absolute;
  width: 300px;
  background-color: rgb(65, 4, 4);
  border: 1px solid #ccc;
  border-radius: 5px;
}
.rta__entity--selected {
  color : #ff66b6;
  background : white;

}
.rta__autocomplete ul {
  list-style: none;
  text-align: left;
  margin-bottom: 0;
}

.rta__autocomplete li {
  margin-bottom: 5px;
  padding: 3px 20px;
  cursor: pointer;
}

/* .rta__autocomplete li:hover {
  background-color: skyblue;
} */
/*--FEED-*/
.confession-feed{
  padding: 0px 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  /* align-items: center; */
}
.confession-card{
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  padding: 20px;
  height : 400px;
  width: 33%;
  display: flex;
  flex-direction: column;
}
.confession-card:hover{
  text-decoration: none;
  color: var(--text);
}
.confession-card:nth-child(even):hover{
  transform: translateY(-5px) ;
  box-shadow: 0 4px 10px #fff;
}
.confession-card:nth-child(odd):hover{
  transform: translateY(-5px) ;
  box-shadow: 0 4px 10px var(--third);
}
.confession-card:nth-child(even) {
  background-color: none;
}
.confession-card:nth-child(odd) {
  background-color: white;
}
.confession-hashtags a{
  color: var(--text) !important;
  font-size: small;
}

.confession-index{
  position: absolute;
  top: 0px;
  left : 10px;
  opacity: 0.3;
  font-size: 3rem;
  border-bottom: 5px solid var(--text);
}
.confession-body{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*--------- individual confession --------- */
.singlekonfession-wrapper{
  display: flex;
  justify-content: center;
}
.singlekonfession {
  background-color: rgba(255, 255, 255, 1);
  /* margin: 5px; */
  /* padding: 28px; */
  width : 400px;
  border-radius: 20px;
  position: relative;
  padding: 20px;
  /* height : 400px; */
  /* width: 33%; */
  display: flex;
  flex-direction: column;
}
.editKonfession{

}

/*--------- confession comment  --------- */
#konfession-comment-wrapper {
  width: 100%;
}
#konfession-comment-wrapper div {
}
.konfession-comment {
  width: 90%;
  float: left;
  /* position: relative; */
}
.konfession-comment textarea {
  border-radius: 20px;
  min-height: 40px;
  overflow: hidden; 
  display: block;
  transition: height 0.5s ease;
}
.konfession-comment textarea[type="text"] {
  /* border: none; */
  /* width: 100%; */
  /* padding-right: 123px; */
}
.textarea--ghost {
  top: 0;
  position: absolute;
  border-radius: 20px;
  width: 480px;
  text-align: left;
  opacity: 0.2;
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;  
  visibility: hidden;
}
.konfession-comment-wrapper .btn-emoji {
  padding: 1px 6px;
  /* float: right; */
}
.emoji-mart {
  z-index: 1;
  position: absolute;
}
/* #konfession-comment button {
  position: absolute;
  right: 4px;
  top: 20px;
} */

#comment-section{
  text-align: left;
  padding: 0 10px 0 10px;
}
.single-comment{
  padding: 15px 20px 15px 20px;
  border-top: 1px solid #ff66b6;
  /* box-shadow: 0 0 10px 0 #ff66b6; */
}
#loadmore{
  cursor: pointer;
  text-align: left;
  padding: 0px 20px 5px 20px;

}
/*--------- confession reaction buttons  --------- */

.konfession-reaction {
  float: left;
  margin: 0 auto;
  padding: 10px;

}
.konfession-reaction-wrapper {
  display: flex;
  justify-content: center;
  /* display: inline-block; */
  /* width: 100%; */
  /* text-align: center; */
}

.btn-circle {
  /* background-color: #ff66b6; */
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.btn-reaction {
  background-color: white;
  /* border: 5px solid #fff; */
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-selected{
  background-color: #ff66b6;
  border: 3px solid #ff66b6;
}
.btn-reaction-card{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid var(--text); */
  /* background: white; */
  opacity: 0.3;
}
.btn-reaction-card:hover{
background-color: none;
}
.reaction-count{
  font-size: x-small;
  color: var(--hot);
}
/*--------- search input  --------- */
#filter-wrapper{
  position: relative;
  width : 500px;
}
#filterHashtag{
  z-index: 1;
  /* color : #504658; */
  /* background: white; */
  position: absolute;
  /* padding : 5px; */
  text-align: left;
}
#filterByPrompt{
  border-radius: 20px !important;
}
.hashtag-li {
  cursor: pointer;
}

/**more button*/
.btn-more{
  cursor: pointer;
  color: hsla(0, 0%, 0%, .2);
  position: absolute;
  right: 20px;
  top : 0px;
}

.btn-more:hover{
  color : #ff66b6
  
}
.dropdown-item {
  cursor: pointer;
}
.dropdown-menu {
  color : #504658;
  border: none;
  border-radius: 20px;
  box-shadow:  0 3px 5px hsla(0, 0%, 0%, .2);

}
.social-butt{
  /* float : left; */
  display: inline-block;
}
/* MOBILE MODE */

@media (max-width: 1026px) {
  #newconfession-wrapper{
    width : 80%;
  }
  .confession-card{
    width : 50%;
  }
  .confession-feed{
    align-items: center;
    padding: 0px 10px;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .confession-card{
    width : 100%;
  }
}

