/* Globals */
/* a,a:focus,a:hover{color:#000272;} */
html,
body {
  font-family: "Questrial", sans-serif;
  height: 100%;
  background-color: #f0decb;
  color: #000272;
}
body {
  color: #504658;
  text-align: center;
}
p {
  margin-bottom: 0px;
}
small{
}
.hide {
  display: none;
}
/* .landing-heading{font-family:'Source Code Pro',monospace;font-weight:400;} */
.ikonfess {
  color : #ff66b6;
}
.ikonfess-dark {
  color : #b3276f;

}
/* Buttons */
.btn {
  border-radius: 0px;
  font-family: "Questrial", sans-serif;
  padding: 0.5625rem 2.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.75rem;
  border-radius: 2 !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
}
.btn-primary {
  background-color: #ff66b6;
  border: 1px solid #ff66b6;
  color: #212529;
}
.btn-primary:hover,
.btn-primary:focus{
  color: #212529;
  border: 1px solid #ff66b6 !important;
  background-color: #ff66b6 !important;
  transform: translateY(-1px) ;
  box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.2);
}
.btn-primary:active {
  color: #212529 !important;
  border: 1px solid #ff3fa2 !important;
  background-color: #ff3fa2 !important;
  transform: translateY(-1px) ;
  box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.2);
}

/* .btn-primary:hover,.btn-primary:focus,.btn-primary:active{color:#fff;border:1px solid #3700FF;background-color:#3700FF; transform: translateY(-1px); box-shadow: 0 3px 5px hsla(0, 0%, 0%, .2);} */

.navbar {
  background-color: #ff66b6 !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding : 0px;
}
.notification-dropdown::after {
  content: none;
}
.notification-wrapper.dropdown-menu {
  padding : 0px;
}
.notification-wrapper .dropdown-item {
  padding : 20px;
}
.noti-unread {
  background-color: #f8cbe3;
}
.navbar-toggler {
  border : none;
}
/* Avatar */
.avatar {
  width: 100px;
  height: 100px;
}
.avatar-section {
  margin-bottom: 25px;
}

/* Scaffolding */
.site-wrapper {
  display: table;
  width: 100%;
  height: 90% !important;
  min-height: 90vh !important;
}
.site-wrapper-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 90%;
}
.panel-authed {
  padding: 0 0 0 0;
}

/* Home button */
.btn-home-hello {
  position: absolute;
  font-family: "Source Code Pro", monospace;
  font-size: 11px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
  top: 15px;
  left: 15px;
  padding: 3px 20px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

/* Input */
input,
textarea {
  color: #000;
}
input,
textarea {
  color: #000;
}

/*--------- new confession CONFESSION textarea--------- */

textarea {
  resize: none;
}
.form-control, .css-yk16xz-control, .css-1pahdxg-control,.css-1pahdxg-control:focus  {
  border-radius: 0px ;
  border: 1px solid #ff66b6 !important;
  border-color: #ff66b6 !important;
  outline: none !important;
  box-shadow: 0 0 0px #ff66b6 !important;
}
.css-yk16xz-control, .css-1pahdxg-control,.css-1pahdxg-control:focus  {
  border-radius: 0px !important;
}
.form-control:focus, .css-yk16xz-control:focus, .css-yk16xz-control:hover,.css-1pahdxg-control:focus, .css-1pahdxg-control:hover {
  outline: none !important;
  border: 1px solid #ff66b6;
  border-color: #ff66b6 !important;
  box-shadow: 0 0 10px #ff66b6 !important;
  /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}

/*---------  --------- */
#newconfession-textarea textarea {
  padding: 5px;
  width: 100%;
}
#newconfession-wrapper {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
}
#newconfession-wrapper #add-confession-button {
  width: 100%;
}
#newconfession-textarea{
  position: relative;
}
.topic {
  position: absolute;
  bottom : 5px;
  border : 1px solid #ff66b6
}
/* react textarea auto complete */

.rta {
  position: relative;
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.rta__autocomplete  {
  position: absolute;
  width: 300px;
  background-color: rgb(65, 4, 4);
  border: 1px solid #ccc;
  border-radius: 5px;
}
.rta__entity--selected {
  color : #ff66b6;
  background : white;

}
.rta__autocomplete ul {
  list-style: none;
  text-align: left;
  margin-bottom: 0;
}

.rta__autocomplete li {
  margin-bottom: 5px;
  padding: 3px 20px;
  cursor: pointer;
}

/* .rta__autocomplete li:hover {
  background-color: skyblue;
} */


/*--------- individual confession --------- */

.singlekonfession {
  background-color: rgba(255, 255, 255, 1);
  margin: 5px;
  padding: 28px;
  /* box-shadow: #ff66b6; */
  /* box-shadow: 0 0 20px  #ff66b6; */

  /* ffb5b5 */
}
.editKonfession{

}

/*--------- confession comment  --------- */
#konfession-comment-wrapper {
  width: 100%;
}
#konfession-comment-wrapper div {
}
.konfession-comment {
  width: 90%;
  float: left;
  /* position: relative; */
}
.konfession-comment textarea {
  border-radius: 20px;
  min-height: 40px;
  overflow: hidden; 
  display: block;
  transition: height 0.5s ease;
}
.konfession-comment textarea[type="text"] {
  /* border: none; */
  /* width: 100%; */
  /* padding-right: 123px; */
}
.textarea--ghost {
  top: 0;
  position: absolute;
  border-radius: 20px;
  width: 480px;
  text-align: left;
  opacity: 0.2;
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;  
  visibility: hidden;
}
.konfession-comment-wrapper .btn-emoji {
  padding: 1px 6px;
  /* float: right; */
}
.emoji-mart {
  position: absolute;
}
/* #konfession-comment button {
  position: absolute;
  right: 4px;
  top: 20px;
} */

#comment-section{
  text-align: left;
  padding: 0 10px 0 10px;
}
.single-comment{
  padding: 15px 20px 15px 20px;
  border-top: 1px solid #ff66b6;
  /* box-shadow: 0 0 10px 0 #ff66b6; */
}
#loadmore{
  cursor: pointer;
  text-align: left;
  padding: 0px 20px 5px 20px;

}
/*--------- confession reaction buttons  --------- */

.konfession-reaction {
  float: left;
  margin: 0 auto;
  padding: 10px;

}
.konfession-reaction-wrapper {
  display: inline-block;
  /* width: 100%; */
  /* text-align: center; */
}
/* .btn-reaction {
  border: 0px;
  transition: all 0.2s ease-in-out;
} */

.btn-circle {
  /* background-color: #ff66b6; */
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.btn-reaction {
  background-color: white;
  border: 5px solid #fff;
  font-size: 30px;
}
.btn-selected{
  background-color: #ff66b6;
  border: 3px solid #ff66b6;
}

/*--------- search input  --------- */
#filter-wrapper{
  position: relative;
  width : 500px;
}
#filterHashtag{
  z-index: 1;
  /* color : #504658; */
  /* background: white; */
  position: absolute;
  /* padding : 5px; */
  text-align: left;
}
.hashtag-li {
  cursor: pointer;
}

/**more button*/
.btn-more{
  cursor: pointer;
  color: hsla(0, 0%, 0%, .2);
  position: absolute;
  right: 20px;
  top : 0px;
}

.btn-more:hover{
  color : #ff66b6
  
}
.dropdown-item {
  cursor: pointer;
}
.dropdown-menu {
  color : #504658;
  border: 1px solid #ff66b6;
  border-radius: 0px;
  box-shadow: 0 0 5px #ff66b6;

}
.social-butt{
  /* float : left; */
  display: inline-block;
}